.container--pipe {
  margin-top: 10rem;
  height: 20rem;
  position: relative;
}

.pipe {
  position: absolute;
  width: 15rem;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
}

.mario-behind-pipe {
  position: absolute;
  z-index: -1;
  width: 5rem;
  right: 47.5%;
  transition: all 0.5s ease-out;
}

.show-mario {
  transform: translateY(-6rem);
}